/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
}
.title {
  font-family: 'Scheherazade', serif;
  font-size:52px;
}
.text {
  font-family: 'Roboto', sans-serif;
}
#code-editor {
  width:100%;
  height:100vh;
}
.options {
  margin-left:20px;
  padding-left:20px;
  width: 500px;
  clear: both;
  border-left:1px dotted black;
  margin-bottom:18px;
}
.options label {
  width:100%;
  border-bottom:1px solid black;
  display:block;
  margin-top:15px;
}
label .optional {
  font-size:10px;
}
.options input {
  width: 100%;
  border-radius:999px;
  border:1px solid gray;
  padding:5px;
  margin-top:7px;
}
.options i {
  color:lightgray;
  font-size:12px;
  display:block;
}
.options i a {
  color:#9ee0ff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
input.version-first {
  border-radius: 999px 0 0 999px;
  width:20px;
  text-align:center;
}
input.version-second {
  border-radius: 0 0 0 0;
  width:20px;
  text-align:center;
}
input.version-last {
  border-radius: 0 999px 999px 0;
  width:20px;
  text-align:center;
}
.click {cursor: pointer;}
@keyframes tutoralbounce {
  from {top:-100px;}
  to {top:20px;}
}
#tutorial {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-120%);
	border-radius: 7px;
	border: 1px solid gray;
	padding: 10px;
	box-shadow: gray 0 0 10px;
  margin:0;
  
  animation-name: tutoralbounce;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
#tutorial p {
  margin:0; padding: 0;
}
#closeTutorial {
	position: absolute;
	top: 5px;
	left: 92%;
	font-size: 11px;
}
